@import "variables.less";
@import "common-mixin.less";
@import "../libs/prefixer.less";
@import "../css/libs/timepicki.css";
@import "../css/libs/pickaday.css";
@import "loading.less";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Open Sans, Arial;
	color: #4E4E4E;
}

body.custom-grey-bg {
	background-color: #F5F7F6;
}

fieldset {
	border: 0;
}

.pac-container:after {
	display: none;
}

.height100 {
	height: 100%
}

a {
	color: #4E4E4E;
	text-decoration: none;
	cursor: pointer;
}

a.full-width {
	.i-b;
	width: 100%;
}

th,td {
	text-align: left;
	padding-left: 10px;
}

.nopadding {
	td:first-child,
	th:first-child {
		padding: 0;
	}
}

th:last-child,
td:last-child{
	padding-right: 10px;
}

input[type="checkbox"], input[type="radio"] {
	margin-right: 10px;
}

select {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  	background-color: #f5f5f5;
}

.select-container {
	position: relative;
	display: inline-block;

	&:before {
		content: '\25bc';
	    position: absolute;
	    pointer-events: none;
	    color: #82888a;
	    top: 0;
	    bottom: 1px;
	    font-size: 1rem;
	    padding-top: 0.7em;
	    line-height: 1;
	    right: 0;
	    width: 2em;
	    text-align: center;
	    .transform(scale(0.84, 0.42));
	}

	select {
		background-image: none;
		-webkit-appearance : none;
		-moz-appearance : none;
		-ms-appearance : none;
		appearance : none;
		border-radius: 2px;
		background-color: white;
	}
}

.container {
	width: 1150px;
	margin: 0 auto;
}

/*@media (max-width: 1280px) {
	.container {
		width: 1280px;
	}
}*/

.overflow-inherit {
	overflow: inherit !important;
}

#main-region {
	margin-bottom: 40px;
	margin-top: @menu-bar-height;
}

.custom-width100 #main-region {
	width: 100%;
}

.breadcrumb-active {
	#main-region {
		margin-top : 0;
	}

	.page-heading {
		display: none;
	}
}


.edufits-logo {
	width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#black-overlay {
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 101;
	height: 0;
	opacity: 0;
	transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);

	&.show {
		height: 100%;
		opacity: 1;
	}
}

#header {
	background: #336B9B;
	/*box-shadow: inset 0px -12px 51px 0px #28557C;*/
	height: @menu-bar-height;
	position: fixed;
	width: 100%;
	top: 0;
 	color: white;
 	z-index: 100;
 	font-weight: normal;
 	.noselect;
 	font-size:0;

 	.menu-bar {
 		.noselect;
 		.i-b;
 		text-align: center;
 		vertical-align: middle;
 		cursor: pointer;
 		font-size: 0;

 		.menu-icon {
 			line-height: @menu-bar-height;
 			font-size: 1.3rem;
			width: 60px;
		    position: relative;
		    left: -20px;
 		}
 	}

 	.organisation-name {
 		.i-b;
 		margin-right: 15px;
 	}

 	.organisation-text {
 		color: #ffffff;
 	}

 	.menu-list {
 		color: white;
 		font-size: 0;

 		li {
 			list-style-type: none;
 			display: inline-block;

 			a {
 				color: white;
 				padding: 0 20px;
 				line-height: @menu-bar-height;
 				display: inline-block;
 				font-size: 0.9rem;

 				&.active {
 					background-color: #1F4C73;
 				}

 				&:hover {
 					background-color: #1F4C73;
 				}
 			}
 		}
 	}
 	
 	.logo {
 		font-size: 1.8rem;
	    line-height: 55px;
	    vertical-align: top;
	    margin-right: 20px;
 	}

 	.user-profile {
 		.i-b;
 		color: white;
 		float: right;
 		font-size: 0.9rem;
 		line-height: @menu-bar-height;

 		.name {
 			.i-b;
 			margin-right: 5px;
 		}
 	}

 	.user-options {
 		.i-b;
 		position: relative;
 		cursor: pointer;

 		.user-menu-dropdown {
			position: absolute;
			width: 160px;
			white-space: nowrap;
			top: @menu-bar-height;
			right: 0;
			background-color: white;
			border: solid 1px #CCC;
			padding-bottom: 10px;
			display: none;
			opacity: 0;
			.transition-duration(0.2s);
			box-shadow: 0 2px 10px rgba(0,0,0,.2);

			li {
				line-height: 15px;
			}

			li a {
				.i-b;
				padding: 10px 20px;
				line-height: 15px;
			}

			li:hover {
				background-color: #F0F0F0;
			}
		}

		.user-menu-dropdown.show {
			opacity: 1;
			display: block;
		}
 	}

 	.top-arrow {
		position: relative;
		height: 1px;
		width: 10px;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
		border-bottom: solid 10px white;
		top: -10px;
		right: -76%;
 	}

 	.school-list {
 		display: none;
		font-size: 1rem;
	    color: black;
	    margin-left: 30px;

	    select {
	    	height: 36px;
			width: 245px;
	    }
 	}
}

.user-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  background-color: #DDE8FF;
  cursor: pointer;

  .fa-user {
	position: relative;
	top: -8px;
    .transform(scaleX(1.7) scaleY(2));
	color: #86A4EA;
  }
}


ul {
	list-style: none;
}

.hide {
	display: none;
}

.clear {
	clear : both;
}

// Form css
.field-group-container {
	border: solid 1px @field-category-background;
	margin-bottom: 30px;
}

.field-group-header {
	background-color: @field-category-background;
	color: @field-category-color;
	height: @field-category-height;
	line-height: @field-category-height;
	padding-left: 15px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size : 0.9rem;
	white-space: nowrap;
	position: relative;
}

.field-group {
	padding: 0 15px;
}

.form-group {
  margin-bottom: 25px;
  white-space: nowrap;
}

label.form-label {
  width: 200px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  vertical-align: top;
  color: @text-dark-grey;
}

.form-element {
  display: inline-block;
  vertical-align: top;
}

.form-control {
	height: 35px;
	border-radius: 2px;
	border: solid 1px @input-field-border-color;
	width: 300px;
	padding-left: 10px;
	outline: none;
	font-size: 0.9rem;
}

.form-group-container {
	border: solid 1px @light-blue-border-color;
	margin-bottom: 30px;
}

ul.form-control {
	width: auto;
	height: auto;
	padding: 0;
	border: 0;
}

.inline-radio-button {

	margin-top: 9px;

	li {
		display: inline-block;
		margin-right: 20px;
	}
}

.has-error .form-control {
	border-color: @form-error-message;
}


.date-select-field-group select {
	.form-control;
	width: 71px;
}

select[data-type='date'] {
	width: 61px;
}
select[data-type='month'] {
	width: 150px;
}
select[data-type='year'] {
	width: 81px;
}

.btn {
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: white;
	outline: none;
	line-height: @btn-line-height;
  	width: @btn-width;

  	&.small {
		line-height: @btn-small-line-height;
  		width: @btn-small-width;
	}
}

.btn-primary {
	.btn;
	background-color: @btn-primary-background-color;
	border: solid 1px @btn-primary-border-color;

	&:active {
		/*background-color: @btn-primary-background-color-active;*/
	}
}

.btn-primary[disabled='disabled'] {
	background-color: lighten(@btn-primary-background-color, 25%);
	border: solid 1px lighten(@btn-primary-border-color, 25%);
}

.btn-secondary {
	.btn;
	background-color: white;
	border: solid 1px @btn-primary-background-color;
	color: @btn-primary-background-color;
	&:active {
		background-image: none;
	}
}

.btn-group {
	font-size: 0px;

	.btn {
		width: auto;
		font-size: 0.9rem;
		padding: 5px;
		color: black;
		border-radius: 0;
		border-right: solid 1px #CCC;
		background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
		background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
		background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	}

	.btn:last-child {
		border: 0;
	}
}

.inline-help-message {
	margin-top: 5px;
	font-size: 12px;
	color: @form-inline-help-message-color;
}

.error-message {
  color: @form-error-message;
  display: inline-block;
  font-size: 12px;
}

#modal-region {
	.error-message {
	  display: block;
	}

	tr:last-child {
		td {
			border: 0;
		}
	}

	.field-group-header {
		display: none;
	}
}

#full-screen-region {
	position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    overflow: hidden;
    background-color: white;
    display: none;
    z-index: 101;
}

.table-container {
	vertical-align: top;
	overflow: hidden;


	.list-table {
		width: 600px;
		border: solid 1px @light-blue-border-color;
		border-collapse: separate;
		border-bottom: 0;
	}

	th,td {
		height: 34px;
		line-height: 34px;
		border-collapse: collapse;
  		border-bottom: solid 1px @light-blue-border-color;
  		white-space: nowrap;
	}

	td {
		line-height: 45px;
	}

	td:first-child,
	th:first-child {
		padding-left: 15px;
	}

	&.noborder {
		.list-table {
			border: 0;
		}

		th,td {
			border: 0;
		}
	}
}

.head {
	color: @field-category-color;
	font-weight: bold;
	background-color: @field-category-background;
	line-height: @head-height;
	padding-left: 10px;
	font-size: 14px;
}

.filter-form-actions {
	text-align: center;
	margin: 30px 0;
}

#toaster {
	position: fixed;
	top: @menu-bar-height;
	text-align: center;
	height: 40px;
	border: solid 1px #f0c36d;
	background-color: #f9edbe;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	display: none;
	line-height: 40px;
	border-top: 0;
	z-index: 1000;

	.message {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		width: 84%;
		margin-left: 10px;
	}

	.close {
		display: inline-block;
		position: absolute;
		right: 10px;
		cursor: pointer;
	}
}

.sub-heading-list {
  border-bottom: solid 1px #CCC;
  margin-bottom: 30px;
  padding-left: 10px;
  margin-left: -10px;
  white-space: nowrap;
  display: none;

  a {
  	text-decoration: none;
  }
}

.sub-heading-item {
  display: inline-block;
  border: solid 1px #CCC;
  height: 50px;
  width: 200px;
  position: relative;
  top: 1px;
  background-color: #F2F2F2;
  vertical-align: top;
  cursor: pointer;
  border-top: 0;

  .top-border {
  	background-color: #CCC;
  	height: 2px;
	position: relative;
	left: -1px;
	top: 0px;
	width: 101%;
	.transition-duration(0.3s);
  }

  .bottom-border {
  	display: none;
  }

  &:hover {
  	background-color: white;
	  border-top: 0;

	  .top-border {
	  	display: block;
		height: 2px;
		position: relative;
		left: -1px;
		top: 0px;
		background-color: #336B9B;
		width: 101%;
	  }
  }

  .sub-heading-text {
	  padding: 0 10px;
	  margin-top: 3px;
	  font-weight: bold;
  }

  .sub-heading-introduction {
	  font-size: 0.7rem;
	  padding: 0 10px;
  }

  &.active {
	  background-color: white;

	  .top-border {
		background-color: #336B9B;
	  }
	  .bottom-border {
	  	display: block;
		height: 2px;
		background-color: white;
		position: absolute;
		bottom: -2px;
		width: 100%;
	  }
	}
}

.page-heading {
	height: @page-heading-height;
	border-bottom: solid 1px @page-heading-border-color;
	margin-bottom: 30px;

	.page-heading-text {
		line-height: @page-heading-height;
  		font-size: 1.3rem;
  		white-space: nowrap;
	}

	&.with-sub-navigation {
		padding-left: 10px;
		border: 0;
		margin-bottom: 0;
	}
}

#modal-container {
  display: none;
  z-index: 1000;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  position: fixed;
  top: 100px;
  background-color: white;
  border-radius: 3px;

  &.medium {
  	width: 900px;
  	margin-left: -450px;
  }

  .header {
  	line-height: 40px;
  	padding: 0 20px;
  	background-color: #f6f7f8;
	border-bottom: 1px solid #e5e5e5;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	.heading-text {
  		font-weight: bold;
	}

	.close-button {
		cursor: pointer;
		color: #CCC;
		width: 40px;
	    text-align: center;
	    margin-right: -20px;

		&:hover {
			color: #333;
		}
	}
  }
}

#modal-region {
	overflow: auto;
	padding: 20px;
	max-height: 500px;
}

.action-button-container{
	font-size: 0.8rem;
	text-align: center;
	a {
		color: #5890ff;
		text-transform: capitalize;

		&:hover {
			text-decoration: underline;
		}
	}

	.edit {
		cursor: pointer;
	}

	.status-action {
		cursor: pointer;
	}
}

.field-group .align-with-form {
  margin-left: 205px;
}

.existing-fields-form-container {
}

.empty-collection {
	text-align: center;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5 !important;
	color: #c09853;
}

.page-loading {
	top: 50%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	font-size: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
}

.dashboard-wiget-container {
	width: 1030px;
	margin: 0 auto;
}

.widget {
	width: 450px;
	padding: 20px;
	overflow: hidden;
	border: 1px solid transparent;
	cursor: pointer;
	margin: 30px;
	vertical-align: top;
	min-height: 120px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.01);
	border-color: rgba(0, 0, 0, 0.06);

	&:hover {
		background: rgba(0, 0, 0, 0.04);
  		border-color: rgba(0, 0, 0, 0.08);
  		.transition(0.2s ease border-color);
	}

	.icon {
		float: left;
		margin-right: 20px;
		display: inline-block;
		vertical-align: top;

		.fa {
			line-height: 80px;
			font-size: 2rem;
			color: #387BB3;
		}
	}

	.content {
		overflow: hidden;

		.title {
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 10px;
		}

		.text {
			font-size: 0.9rem;
			color: @light-black-color;
			height: 2.8em;
			line-height: 1.4em;
		}
	}
}

.custom-error-container {
	margin-top: 30px;
}



.permission-manage-table {
	.description {
		font-size: 0.8rem;
		color: @light-black-color;
	}
}

#breadcrumb-region {
	margin-top: @menu-bar-height;
	line-height: 60px;
	border-bottom: solid 1px @page-heading-border-color;
	margin-bottom: 30px;
	display: none;
	white-space: nowrap;

	&.sub-navigation-active {
		margin-bottom: 0;
		border-bottom : 0;
	}

	.arrow {
		margin: 0 10px;
	}

	a {
		color: #5890ff;
	}
}

.cta {
	color: #5890ff;
}

.underline {
	text-decoration: underline;
}

.tac {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tar {
	text-align: right;

	input {
		text-align: right;
	}
}

.vam {
	vertical-align: middle;
}

.vat {
	vertical-align: top;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.list-items-info {
	text-align: center;
	background-color: #fcf8e3;
	color: black;
	font-size: 0.9rem;
}

.new-cta {
	margin-bottom: 30px;
	display: inline-block;
}

.route-form {
	width: 700px;

	.fieldName,
	.field {
		.i-b;
	}

	.width150px {
		width: 150px;
	}

	.driver-detail,
	.vehicle-detail {
		margin-top: 10px;
		margin-bottom: 30px;
    	padding-top: 10px;
	}

	.timepicker {
		width: 100px;
    	padding-left: 5px;
	}

	.stops-container { 
		margin-top: 10px;

		tr {
			cursor: pointer;
			input {
				border: solid 1px white;
			}
			
			&:hover {
				input {
					border: solid 1px #CCC;
				}
			}
		}
	}

	.save-route {
		margin-top: 30px;
	}

	.info-head {
		border-bottom: solid 2px #79B0CC;
		padding-bottom: 10px;
		padding-right: 3px;
		display: inline-block;
	}

	.driverAndVehicleForm {

	}
}

.pos-rel {
	position: relative;
}

.student-show-fee {
	.view-fee-structure {
		width: 165px;
		margin-bottom: 30px;
	}
}

.card-shadow {
	background: #fff;
	border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	.transition(all 0.2s ease-in-out);

  	&:hover {
  		//box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  	}
}

.dashboard {
	margin-top: @menu-bar-height+45px;
	white-space: nowrap;
	position: relative;
	font-size: 0;

	.summary-container {
		position: absolute;
	    font-size: 1rem;
	    width: 680px;
	}

	.card-container {
		font-size: 0;
	}

	.alert-container {
		position: absolute;
		right: 0;
		left: 680px;
		font-size: 1rem;
		height: 540px;
		.card-shadow;
	}

	.entry-points {
		font-size: 0.9rem;
	    width: 185px;
	    white-space: nowrap;
	    overflow: hidden;
	    padding-left: 25px;
	    text-align: left;
	    margin-bottom: 30px;

	    li {
	    	line-height: 1.8rem;
	    	text-overflow: ellipsis;
    		overflow: hidden;
	    }
	}

	.card {
		.i-b;
		width: 300px;
		margin-right: 40px;
		height: 250px;
		vertical-align: top;
		color: @light-black-color;
		font-size: 1rem;
		.card-shadow;
	}

	.header {
		border-bottom: solid 1px #E8E8E8;
	    line-height: 45px;
	    padding-left: 15px;
	    color: #333;
	}

	.content {
		padding: 15px;
		text-align: center;		
	}

	.stat {
		.i-b;
		margin-right: 35px;
		vertical-align: top;
	}

	.stat:last-child{
		margin-right: 0;
	}

	.legend {
		text-transform: uppercase;
	    font-size: 0.8rem;
	    margin-top: 10px;
	    text-align: center;
	}


	.medium-number .number {
		font-size: 40px;
	}

	.small-number .number {
		font-size: 40px;
	}

	.number {
		line-height: 100px;
	    font-size: 40px;
	    height: 108px;
	    text-align: center;
	    color: #339B7B;
	    font-weight: lighter;
	}

	.unit {
		font-size: 20px;
	}

	.alert-list {
		padding: 15px;
		overflow: scroll;
    	height: 494px;
	}

	.alert-card {
		border-bottom: solid 1px #E8E8E8;
	    padding-bottom: 10px;
	    margin-bottom: 10px;

	    .label {
	    	color: #7b7b7b;
    		font-size: .9rem;
	    }
	}

	.alert-card:last-child {
		margin: 0;
		border-bottom: 0;
	}

	.severity-index {
		width: 150px;
	    background-color: #D8DCDA;
	    height: 10px;
	    cursor: pointer;
	    position: relative;

	    .filled {
	    	height: 10px;
	    	width: 10%;
	    	background-color: red;
	    }

	    .incident-detail-window {
			box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 8px;
			background-color: white;
			width: 400px;
			z-index: 100;
			right: 0;
		    top: 22px;
		    position: absolute;
		    cursor: default;
		    padding: 14px;
    		padding-top: 0;
    		display: none;

			.top-arrow {
				background: rgb(255, 255, 255);
			    height: 14px;
			    width: 14px;
			    transform: rotate(45deg);
			    top: -7px;
			    right: -350px;
			    box-shadow: rgba(0, 0, 0, 0.34902) -3px -3px 5px -4px;
			    position: relative;
			}

			.head-text {
				padding-bottom: 20px;
			}

			.info-text {
				color: @light-black-color;
				font-size: 0.9rem;
				line-height: 1.2rem;
			}
		}

		.white-bar {
			width: 150px;
		    height: 15px;
		    position: absolute;
		    right: 0;
		    background-color: white;
		}

		&:hover {
			.incident-detail-window {
				display: block;
			}
		}
	}

	.driver-info,
	.route-info {
		margin-right: 40px;
    	width: 100px;
	}

	.label {
		color: @light-black-color;
		font-size: 0.9rem;
	}
}

.leave-edit-form {
	width: 700px;

	.incrementperiod-editor {
		width: 150px;
	}

	.incrementamount-editor {
		width: 146px;
	}
}


.vehicle-summary-detail-section {
	.month-select {
		margin-bottom: 30px;

		.form-control {
			width: 150px;
		}
	}

	.list {
		.i-b;
		font-size: 1rem;
		vertical-align: top;
		width: 100%;

		.view-detail-map {
			width: auto;
			padding: 0 10px;
			line-height: 25px;
		}

		.overspeed {
			i {
				margin-right: 10px;
			}

			&.green {
				color: green;
			}

			&.red {
				color: red;
			}
		}
	}

	.download-report {
		margin-bottom: 30px;

	}
}

.trip-detail-page {
	.header {
		border-bottom: solid 1px @page-heading-border-color;
		padding: 30px 40px;
		position: relative;

		.driver-info {
			line-height: 1.5;

			label {
				font-weight: bold;
				color: @light-black-color;
			}

			.name,
			.licence-no,
			.vehicle-regno {
				margin-right: 40px;
				vertical-align: top;
			}
		}

		.close-button {
			position: absolute;
		    right: 30px;
		    top: 50%;
		    .transform(translateY(-50%));
		}
	}

	.main-content{
		width: 100%;
		position: absolute;
	    top: 109px;
	    bottom: 0;

	    .map-view {
	    	height: 100%;
	    }
	}
	
}

#live-tracking-region {
	position: absolute;
    width: 100%;
    top: @menu-bar-height;
    z-index: 99;
    background-color: white;
    bottom: 0;
    display: none;

    .map-container {
		position: absolute;
		left: 300px;
		right: 0;
		bottom: 0;
		top: 0;
		/*box-shadow: 4px 0px 10px 1px #aaaaaa;*/
    }

    .vehicles-list-container {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 300px;
		padding: 15px 0;
		overflow: auto;

		.vehicle-list-ul {
			li {
				cursor: pointer;
				border-bottom: solid 1px #e1e5ed;

				&:hover {
					background-color: #f2f3f7;
				}
			}

			li:last-child {
				border-bottom: 0;
			}
		}

		.vehicle-item {
			position: relative;
			padding: 15px 0;

			.icon {
				left: 0;
				width: 45px;
				text-align: center;
				vertical-align: middle;
				font-size: 2rem;
				color: #505050;


			}

			.info {
				left: 100px;
				right: 0;
				vertical-align: middle;

				.driver-name {
					color: @text-grey-normal;
				}
			}
		}
    }

    .selected-vehicle {
    	position: absolute;
    	display: none;
	    right: 15px;
	    top: 50px;
	    width: 300px;
	    padding: 15px;
	    z-index: 503;
	    background: #ffffff;
	    border: 0px solid #dadada;
	    box-shadow: 0px 0px 10px #888888 !important;
	    overflow: hidden;
	    cursor: default;

	    .close{
	    	float: right;
	    	cursor: pointer;
		    color: #CCC;
		    width: 40px;
		    line-height: 40px;
		    text-align: center;
		    margin-right: -15px;
		    margin-top: -15px;

		    &:hover {
		    	color: #333;
		    }
	    }
    }
}


.add-passenger-form {
	label.form-label {
		display: block;
		padding: 0;
		margin-bottom: 5px;
	}

	.form-group {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.form-element {
		font-size: 1rem;
	}

	.personal-info,
	.contact-info {
		width: 50%;
	}

	.submit-button-container {
		width: 300px;
		margin: 0 auto;
		font-size: 1rem;
	}
}

.map-container {
	.pindrop-label {
		background-color: #fcf8e3;
		line-height: 45px;
		text-align: center;
		font-size: 0.8rem;
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.location-input {
		position: absolute;
		width: 500px;
		z-index: 1;
		margin-left: 20px;
		margin-top: 20px;
	}

	.submit-btn {
		margin-left: 20px;
	}

	.close-btn {
		cursor: pointer;
		color: #CCC;
		width: 40px;
	    text-align: center;
	    font-size: 1rem;
	    position: absolute;
	    right: 0;
	    background-color: #fcf8e3;

		&:hover {
			color: #333;
		}
	}

	.stop-list-container {
	    background: white;
	    position: absolute;
	    top: 50px;
	    width: 200px;

	    .stop-list {
	    	height: 510px;
	    	overflow: auto;
	    }

	    .item {
	    	cursor: pointer;
			border-bottom: solid 1px #e1e5ed;
    		padding: 10px;

    		&:hover,
    		&.active {
    			background-color: #f2f3f7;
    		}
	    }

	    .latLng {
	    	font-size: 0.8rem;
		    color: @text-grey-normal;
		    font-weight: bold;
	    }

	    .save-btn {
	    	margin-top: 30px;
	    }
	}
}

.eta-report-page {
	.left-section {
		padding: 10px;
		position: absolute;
		top:@menu-bar-height+100;
		bottom: 0;
		border-right: solid 1px #CCC;
		width: 323px;
		overflow: scroll;
	}

	.right-section {
		position: absolute;
		left: 323px;
		bottom: 0;
		right: 0;
		top:@menu-bar-height+100;
	}

	.form-container {
		height: 100px;
		white-space: nowrap;
		padding-left: 10px;
		border-bottom: solid 1px #CCC;
		background: #F1F1F1;

		.field-group {
			padding: 0;
		}

		.help-block {
			display: none;
		}

		.form-group {
			margin-bottom: 0;
			margin-right: 20px;
		}

		label.form-label {
			display: block;
			margin-bottom: 5px;
		}
	}

	.stop-list-container {
		.stop-item {
			padding: 10px 0;
			border-bottom: solid 1px #CCC;
		}
	}
}

.data-visualize-page {
	.left-section {
		padding: 10px;
		position: absolute;
		top:@menu-bar-height+40;
		bottom: 0;
		border-right: solid 1px #CCC;
		width: 323px;
		overflow: scroll;
	}

	.right-section {
		position: absolute;
		left: 323px;
		bottom: 0;
		right: 0;
		top:@menu-bar-height+40;
	}
}

.send-sms-form {
	label.form-label {
		display: block;
		padding: 0;
		margin-bottom: 10px;
	}

	.form-element {
		font-size: 1rem;
		width: 100%;
	}

	textarea#send-bulk-sms-form-msg {
		height: 200px;
		width: 100%;
		padding-top: 10px;
	}
}

.send-bulk-sms-all {
	width: 150px;
    margin-left: 20px;
}

.filter-form-container {
	.box {
		margin-right: 30px;
		vertical-align: bottom;
	}

	.form-label {
		display: block;
		margin-bottom: 5px;
		padding-top: 0;
	}
	.form-control {
		width: 200px;
	}
}

.report-summary-container {
	margin: 30px 0;
	.item {
	    display: inline-block;
	    width: 33%;
	    padding: 30px 0;
	    padding-left: 45px;

	    .icon,
	    .text {
	    	display: inline-block;
	    	vertical-align: top;
	    }

	    .icon {
	    	width: 40px;

	    	img {
	    		height: 44px;
	    	}
	    }

	    .text {
			text-align: left;
			vertical-align: top;
			margin-left: 50px;
			width: 200px;

			.label {
			    font-weight: lighter;
			    white-space: nowrap;
			}

			.value {
			    font-weight: bold;
			}
	    }
	}

	.row {
	    padding: 10px 0;
	}

	.row:last-child {
	    border: 0;
	}

	.item:last-child {
		border: 0;
	}
}

.accesory-icon {
	background: orange;
	color: white;
	font-size: 13px;
	display: inline-block;
	height: 20px;
	padding: 0 5px;
	text-align: center;
	line-height: 18px;
	border-radius: 4px;
}

.accesory-icon.ac:before {
    content: "ac"
}

.accesory-icon.ignition:before {
    content: "ignition"
}

.accesory-icon.unreachable {
	background-color: gray
}

.accesory-icon.unreachable:before {
    content: "offline"
}
