// Variables


// color codes
@logo-color:        #428bca; // sea blue
@light-black-color : #7b7b7b;
@text-dark-grey : #565656;
@page-heading-border-color : #D8D8D8;
@light-blue-theme-color    : #C1E3F4;
@field-category-background : #C1E3F4;
@field-category-color	   : #5784B8;
@input-field-border-color  : #CCC;
@form-inline-help-message-color : #7D7D7D;
@form-error-message : #BB3A3A;
@main-side-navigation-heading-color : #7B7979;
@lighter-blue-background-color : #FBFDFE;
@light-blue-border-color : #C1D8E4;
@light-blue-text-color : #779DBA;

// primary button colors
@btn-primary-background-color : #336B9B;
@btn-primary-background-color-active : #71B032;
@btn-primary-border-color : #336B9B;

// secondary button colors
@btn-secondary-background-color : #85C743;
@btn-secondary-background-color-active : #E7E6E6;
@btn-secondary-border-color : #A1A1A1;

// dimensions
@menu-bar-height: 55px;
@page-heading-height:  60px;
@field-category-height : 35px;
@head-height :  35px;

@btn-width : 120px;
@btn-line-height: 40px;
@btn-small-width: 80px;
@btn-small-line-height: 35px;

@text-grey-normal : #8E8E8E;