<td><%= name %></td>
<td><%= phone %></td>
<td><%= role %></td>
<td><%= licenseNo %></td>
<td class="action-button-container">
	<a class="edit" data-index="<%= id %>"><%= _t('edit') %></a>
	 | 
	<a class="delete" data-index="<%= id %>"><%= _t('delete') %></a>
</td>

