@import "../css/libs/timepicki.css";
@import "../css/libs/pickaday.css";
.i-b {
  display: inline-block;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Open Sans, Arial;
  color: #4E4E4E;
}
body.custom-grey-bg {
  background-color: #F5F7F6;
}
fieldset {
  border: 0;
}
.pac-container:after {
  display: none;
}
.height100 {
  height: 100%;
}
a {
  color: #4E4E4E;
  text-decoration: none;
  cursor: pointer;
}
a.full-width {
  display: inline-block;
  width: 100%;
}
th,
td {
  text-align: left;
  padding-left: 10px;
}
.nopadding td:first-child,
.nopadding th:first-child {
  padding: 0;
}
th:last-child,
td:last-child {
  padding-right: 10px;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}
select {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f5f5f5;
}
.select-container {
  position: relative;
  display: inline-block;
}
.select-container:before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #82888a;
  top: 0;
  bottom: 1px;
  font-size: 1rem;
  padding-top: 0.7em;
  line-height: 1;
  right: 0;
  width: 2em;
  text-align: center;
  -webkit-transform: scale(0.84, 0.42);
  -moz-transform: scale(0.84, 0.42);
  -ms-transform: scale(0.84, 0.42);
  -o-transform: scale(0.84, 0.42);
  transform: scale(0.84, 0.42);
}
.select-container select {
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 2px;
  background-color: white;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
/*@media (max-width: 1280px) {
	.container {
		width: 1280px;
	}
}*/
.overflow-inherit {
  overflow: inherit !important;
}
#main-region {
  margin-bottom: 40px;
  margin-top: 55px;
}
.custom-width100 #main-region {
  width: 100%;
}
.breadcrumb-active #main-region {
  margin-top: 0;
}
.breadcrumb-active .page-heading {
  display: none;
}
.edufits-logo {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
#black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
  height: 0;
  opacity: 0;
  transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: height 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#black-overlay.show {
  height: 100%;
  opacity: 1;
}
#header {
  background: #336B9B;
  /*box-shadow: inset 0px -12px 51px 0px #28557C;*/
  height: 55px;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
  z-index: 100;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0;
}
#header .menu-bar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0;
}
#header .menu-bar .menu-icon {
  line-height: 55px;
  font-size: 1.3rem;
  width: 60px;
  position: relative;
  left: -20px;
}
#header .organisation-name {
  display: inline-block;
  margin-right: 15px;
}
#header .organisation-text {
  color: #ffffff;
}
#header .menu-list {
  color: white;
  font-size: 0;
}
#header .menu-list li {
  list-style-type: none;
  display: inline-block;
}
#header .menu-list li a {
  color: white;
  padding: 0 20px;
  line-height: 55px;
  display: inline-block;
  font-size: 0.9rem;
}
#header .menu-list li a.active {
  background-color: #1F4C73;
}
#header .menu-list li a:hover {
  background-color: #1F4C73;
}
#header .logo {
  font-size: 1.8rem;
  line-height: 55px;
  vertical-align: top;
  margin-right: 20px;
}
#header .user-profile {
  display: inline-block;
  color: white;
  float: right;
  font-size: 0.9rem;
  line-height: 55px;
}
#header .user-profile .name {
  display: inline-block;
  margin-right: 5px;
}
#header .user-options {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#header .user-options .user-menu-dropdown {
  position: absolute;
  width: 160px;
  white-space: nowrap;
  top: 55px;
  right: 0;
  background-color: white;
  border: solid 1px #CCC;
  padding-bottom: 10px;
  display: none;
  opacity: 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#header .user-options .user-menu-dropdown li {
  line-height: 15px;
}
#header .user-options .user-menu-dropdown li a {
  display: inline-block;
  padding: 10px 20px;
  line-height: 15px;
}
#header .user-options .user-menu-dropdown li:hover {
  background-color: #F0F0F0;
}
#header .user-options .user-menu-dropdown.show {
  opacity: 1;
  display: block;
}
#header .top-arrow {
  position: relative;
  height: 1px;
  width: 10px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px white;
  top: -10px;
  right: -76%;
}
#header .school-list {
  display: none;
  font-size: 1rem;
  color: black;
  margin-left: 30px;
}
#header .school-list select {
  height: 36px;
  width: 245px;
}
.user-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  background-color: #DDE8FF;
  cursor: pointer;
}
.user-icon .fa-user {
  position: relative;
  top: -8px;
  -webkit-transform: scaleX(1.7) scaleY(2);
  -moz-transform: scaleX(1.7) scaleY(2);
  -ms-transform: scaleX(1.7) scaleY(2);
  -o-transform: scaleX(1.7) scaleY(2);
  transform: scaleX(1.7) scaleY(2);
  color: #86A4EA;
}
ul {
  list-style: none;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.field-group-container {
  border: solid 1px #c1e3f4;
  margin-bottom: 30px;
}
.field-group-header {
  background-color: #c1e3f4;
  color: #5784b8;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
  position: relative;
}
.field-group {
  padding: 0 15px;
}
.form-group {
  margin-bottom: 25px;
  white-space: nowrap;
}
label.form-label {
  width: 200px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  vertical-align: top;
  color: #565656;
}
.form-element {
  display: inline-block;
  vertical-align: top;
}
.form-control {
  height: 35px;
  border-radius: 2px;
  border: solid 1px #cccccc;
  width: 300px;
  padding-left: 10px;
  outline: none;
  font-size: 0.9rem;
}
.form-group-container {
  border: solid 1px #c1d8e4;
  margin-bottom: 30px;
}
ul.form-control {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
}
.inline-radio-button {
  margin-top: 9px;
}
.inline-radio-button li {
  display: inline-block;
  margin-right: 20px;
}
.has-error .form-control {
  border-color: #bb3a3a;
}
.date-select-field-group select {
  height: 35px;
  border-radius: 2px;
  border: solid 1px #cccccc;
  width: 300px;
  padding-left: 10px;
  outline: none;
  font-size: 0.9rem;
  width: 71px;
}
select[data-type='date'] {
  width: 61px;
}
select[data-type='month'] {
  width: 150px;
}
select[data-type='year'] {
  width: 81px;
}
.btn {
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  outline: none;
  line-height: 40px;
  width: 120px;
}
.btn.small {
  line-height: 35px;
  width: 80px;
}
.btn-primary {
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  outline: none;
  line-height: 40px;
  width: 120px;
  background-color: #336b9b;
  border: solid 1px #336b9b;
}
.btn-primary.small {
  line-height: 35px;
  width: 80px;
}
.btn-primary:active {
  /*background-color: @btn-primary-background-color-active;*/
}
.btn-primary[disabled='disabled'] {
  background-color: #7aaad3;
  border: solid 1px #7aaad3;
}
.btn-secondary {
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  outline: none;
  line-height: 40px;
  width: 120px;
  background-color: white;
  border: solid 1px #336b9b;
  color: #336b9b;
}
.btn-secondary.small {
  line-height: 35px;
  width: 80px;
}
.btn-secondary:active {
  background-image: none;
}
.btn-group {
  font-size: 0px;
}
.btn-group .btn {
  width: auto;
  font-size: 0.9rem;
  padding: 5px;
  color: black;
  border-radius: 0;
  border-right: solid 1px #CCC;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
}
.btn-group .btn:last-child {
  border: 0;
}
.inline-help-message {
  margin-top: 5px;
  font-size: 12px;
  color: #7d7d7d;
}
.error-message {
  color: #bb3a3a;
  display: inline-block;
  font-size: 12px;
}
#modal-region .error-message {
  display: block;
}
#modal-region tr:last-child td {
  border: 0;
}
#modal-region .field-group-header {
  display: none;
}
#full-screen-region {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  overflow: hidden;
  background-color: white;
  display: none;
  z-index: 101;
}
.table-container {
  vertical-align: top;
  overflow: hidden;
}
.table-container .list-table {
  width: 600px;
  border: solid 1px #c1d8e4;
  border-collapse: separate;
  border-bottom: 0;
}
.table-container th,
.table-container td {
  height: 34px;
  line-height: 34px;
  border-collapse: collapse;
  border-bottom: solid 1px #c1d8e4;
  white-space: nowrap;
}
.table-container td {
  line-height: 45px;
}
.table-container td:first-child,
.table-container th:first-child {
  padding-left: 15px;
}
.table-container.noborder .list-table {
  border: 0;
}
.table-container.noborder th,
.table-container.noborder td {
  border: 0;
}
.head {
  color: #5784b8;
  font-weight: bold;
  background-color: #c1e3f4;
  line-height: 35px;
  padding-left: 10px;
  font-size: 14px;
}
.filter-form-actions {
  text-align: center;
  margin: 30px 0;
}
#toaster {
  position: fixed;
  top: 55px;
  text-align: center;
  height: 40px;
  border: solid 1px #f0c36d;
  background-color: #f9edbe;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  display: none;
  line-height: 40px;
  border-top: 0;
  z-index: 1000;
}
#toaster .message {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 84%;
  margin-left: 10px;
}
#toaster .close {
  display: inline-block;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.sub-heading-list {
  border-bottom: solid 1px #CCC;
  margin-bottom: 30px;
  padding-left: 10px;
  margin-left: -10px;
  white-space: nowrap;
  display: none;
}
.sub-heading-list a {
  text-decoration: none;
}
.sub-heading-item {
  display: inline-block;
  border: solid 1px #CCC;
  height: 50px;
  width: 200px;
  position: relative;
  top: 1px;
  background-color: #F2F2F2;
  vertical-align: top;
  cursor: pointer;
  border-top: 0;
}
.sub-heading-item .top-border {
  background-color: #CCC;
  height: 2px;
  position: relative;
  left: -1px;
  top: 0px;
  width: 101%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sub-heading-item .bottom-border {
  display: none;
}
.sub-heading-item:hover {
  background-color: white;
  border-top: 0;
}
.sub-heading-item:hover .top-border {
  display: block;
  height: 2px;
  position: relative;
  left: -1px;
  top: 0px;
  background-color: #336B9B;
  width: 101%;
}
.sub-heading-item .sub-heading-text {
  padding: 0 10px;
  margin-top: 3px;
  font-weight: bold;
}
.sub-heading-item .sub-heading-introduction {
  font-size: 0.7rem;
  padding: 0 10px;
}
.sub-heading-item.active {
  background-color: white;
}
.sub-heading-item.active .top-border {
  background-color: #336B9B;
}
.sub-heading-item.active .bottom-border {
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -2px;
  width: 100%;
}
.page-heading {
  height: 60px;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px;
}
.page-heading .page-heading-text {
  line-height: 60px;
  font-size: 1.3rem;
  white-space: nowrap;
}
.page-heading.with-sub-navigation {
  padding-left: 10px;
  border: 0;
  margin-bottom: 0;
}
#modal-container {
  display: none;
  z-index: 1000;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  position: fixed;
  top: 100px;
  background-color: white;
  border-radius: 3px;
}
#modal-container.medium {
  width: 900px;
  margin-left: -450px;
}
#modal-container .header {
  line-height: 40px;
  padding: 0 20px;
  background-color: #f6f7f8;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#modal-container .header .heading-text {
  font-weight: bold;
}
#modal-container .header .close-button {
  cursor: pointer;
  color: #CCC;
  width: 40px;
  text-align: center;
  margin-right: -20px;
}
#modal-container .header .close-button:hover {
  color: #333;
}
#modal-region {
  overflow: auto;
  padding: 20px;
  max-height: 500px;
}
.action-button-container {
  font-size: 0.8rem;
  text-align: center;
}
.action-button-container a {
  color: #5890ff;
  text-transform: capitalize;
}
.action-button-container a:hover {
  text-decoration: underline;
}
.action-button-container .edit {
  cursor: pointer;
}
.action-button-container .status-action {
  cursor: pointer;
}
.field-group .align-with-form {
  margin-left: 205px;
}
.empty-collection {
  text-align: center;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5 !important;
  color: #c09853;
}
.page-loading {
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  font-size: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}
.dashboard-wiget-container {
  width: 1030px;
  margin: 0 auto;
}
.widget {
  width: 450px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 30px;
  vertical-align: top;
  min-height: 120px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.01);
  border-color: rgba(0, 0, 0, 0.06);
}
.widget:hover {
  background: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.2s ease border-color;
  -moz-transition: 0.2s ease border-color;
  -o-transition: 0.2s ease border-color;
  -ms-transition: 0.2s ease border-color;
  transition: 0.2s ease border-color;
}
.widget .icon {
  float: left;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.widget .icon .fa {
  line-height: 80px;
  font-size: 2rem;
  color: #387BB3;
}
.widget .content {
  overflow: hidden;
}
.widget .content .title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.widget .content .text {
  font-size: 0.9rem;
  color: #7b7b7b;
  height: 2.8em;
  line-height: 1.4em;
}
.custom-error-container {
  margin-top: 30px;
}
.permission-manage-table .description {
  font-size: 0.8rem;
  color: #7b7b7b;
}
#breadcrumb-region {
  margin-top: 55px;
  line-height: 60px;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px;
  display: none;
  white-space: nowrap;
}
#breadcrumb-region.sub-navigation-active {
  margin-bottom: 0;
  border-bottom: 0;
}
#breadcrumb-region .arrow {
  margin: 0 10px;
}
#breadcrumb-region a {
  color: #5890ff;
}
.cta {
  color: #5890ff;
}
.underline {
  text-decoration: underline;
}
.tac {
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tar {
  text-align: right;
}
.tar input {
  text-align: right;
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.lfloat {
  float: left;
}
.rfloat {
  float: right;
}
.list-items-info {
  text-align: center;
  background-color: #fcf8e3;
  color: black;
  font-size: 0.9rem;
}
.new-cta {
  margin-bottom: 30px;
  display: inline-block;
}
.route-form {
  width: 700px;
}
.route-form .fieldName,
.route-form .field {
  display: inline-block;
}
.route-form .width150px {
  width: 150px;
}
.route-form .driver-detail,
.route-form .vehicle-detail {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.route-form .timepicker {
  width: 100px;
  padding-left: 5px;
}
.route-form .stops-container {
  margin-top: 10px;
}
.route-form .stops-container tr {
  cursor: pointer;
}
.route-form .stops-container tr input {
  border: solid 1px white;
}
.route-form .stops-container tr:hover input {
  border: solid 1px #CCC;
}
.route-form .save-route {
  margin-top: 30px;
}
.route-form .info-head {
  border-bottom: solid 2px #79B0CC;
  padding-bottom: 10px;
  padding-right: 3px;
  display: inline-block;
}
.pos-rel {
  position: relative;
}
.student-show-fee .view-fee-structure {
  width: 165px;
  margin-bottom: 30px;
}
.card-shadow {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dashboard {
  margin-top: 100px;
  white-space: nowrap;
  position: relative;
  font-size: 0;
}
.dashboard .summary-container {
  position: absolute;
  font-size: 1rem;
  width: 680px;
}
.dashboard .card-container {
  font-size: 0;
}
.dashboard .alert-container {
  position: absolute;
  right: 0;
  left: 680px;
  font-size: 1rem;
  height: 540px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dashboard .entry-points {
  font-size: 0.9rem;
  width: 185px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 25px;
  text-align: left;
  margin-bottom: 30px;
}
.dashboard .entry-points li {
  line-height: 1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dashboard .card {
  display: inline-block;
  width: 300px;
  margin-right: 40px;
  height: 250px;
  vertical-align: top;
  color: #7b7b7b;
  font-size: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dashboard .header {
  border-bottom: solid 1px #E8E8E8;
  line-height: 45px;
  padding-left: 15px;
  color: #333;
}
.dashboard .content {
  padding: 15px;
  text-align: center;
}
.dashboard .stat {
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
}
.dashboard .stat:last-child {
  margin-right: 0;
}
.dashboard .legend {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 10px;
  text-align: center;
}
.dashboard .medium-number .number {
  font-size: 40px;
}
.dashboard .small-number .number {
  font-size: 40px;
}
.dashboard .number {
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  color: #339B7B;
  font-weight: lighter;
}
.dashboard .unit {
  font-size: 20px;
}
.dashboard .alert-list {
  padding: 15px;
  overflow: scroll;
  height: 494px;
}
.dashboard .alert-card {
  border-bottom: solid 1px #E8E8E8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.dashboard .alert-card:last-child {
  margin: 0;
  border-bottom: 0;
}
.dashboard .severity-index {
  width: 150px;
  background-color: #D8DCDA;
  height: 10px;
  cursor: pointer;
  position: relative;
}
.dashboard .severity-index .filled {
  height: 10px;
  width: 10%;
  background-color: red;
}
.dashboard .severity-index .incident-detail-window {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 8px;
  background-color: white;
  width: 400px;
  z-index: 100;
  right: 0;
  top: 22px;
  position: absolute;
  cursor: default;
  padding: 14px;
  padding-top: 0;
  display: none;
}
.dashboard .severity-index .incident-detail-window .top-arrow {
  background: #ffffff;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  top: -7px;
  right: -350px;
  box-shadow: rgba(0, 0, 0, 0.34902) -3px -3px 5px -4px;
  position: relative;
}
.dashboard .severity-index .incident-detail-window .head-text {
  padding-bottom: 20px;
}
.dashboard .severity-index .incident-detail-window .info-text {
  color: #7b7b7b;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.dashboard .severity-index .white-bar {
  width: 150px;
  height: 15px;
  position: absolute;
  right: 0;
  background-color: white;
}
.dashboard .severity-index:hover .incident-detail-window {
  display: block;
}
.dashboard .driver-info,
.dashboard .route-info {
  margin-right: 40px;
  width: 100px;
}
.dashboard .label {
  color: #7b7b7b;
  font-size: 0.9rem;
}
.leave-edit-form {
  width: 700px;
}
.leave-edit-form .incrementperiod-editor {
  width: 150px;
}
.leave-edit-form .incrementamount-editor {
  width: 146px;
}
.vehicle-summary-detail-section .month-select {
  margin-bottom: 30px;
}
.vehicle-summary-detail-section .month-select .form-control {
  width: 150px;
}
.vehicle-summary-detail-section .list {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  width: 100%;
}
.vehicle-summary-detail-section .list .view-detail-map {
  width: auto;
  padding: 0 10px;
  line-height: 25px;
}
.vehicle-summary-detail-section .list .overspeed i {
  margin-right: 10px;
}
.vehicle-summary-detail-section .list .overspeed.green {
  color: green;
}
.vehicle-summary-detail-section .list .overspeed.red {
  color: red;
}
.vehicle-summary-detail-section .download-report {
  margin-bottom: 30px;
}
.trip-detail-page .header {
  border-bottom: solid 1px #d8d8d8;
  padding: 30px 40px;
  position: relative;
}
.trip-detail-page .header .driver-info {
  line-height: 1.5;
}
.trip-detail-page .header .driver-info label {
  font-weight: bold;
  color: #7b7b7b;
}
.trip-detail-page .header .driver-info .name,
.trip-detail-page .header .driver-info .licence-no,
.trip-detail-page .header .driver-info .vehicle-regno {
  margin-right: 40px;
  vertical-align: top;
}
.trip-detail-page .header .close-button {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.trip-detail-page .main-content {
  width: 100%;
  position: absolute;
  top: 109px;
  bottom: 0;
}
.trip-detail-page .main-content .map-view {
  height: 100%;
}
#live-tracking-region {
  position: absolute;
  width: 100%;
  top: 55px;
  z-index: 99;
  background-color: white;
  bottom: 0;
  display: none;
}
#live-tracking-region .map-container {
  position: absolute;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 0;
  /*box-shadow: 4px 0px 10px 1px #aaaaaa;*/
}
#live-tracking-region .vehicles-list-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 15px 0;
  overflow: auto;
}
#live-tracking-region .vehicles-list-container .vehicle-list-ul li {
  cursor: pointer;
  border-bottom: solid 1px #e1e5ed;
}
#live-tracking-region .vehicles-list-container .vehicle-list-ul li:hover {
  background-color: #f2f3f7;
}
#live-tracking-region .vehicles-list-container .vehicle-list-ul li:last-child {
  border-bottom: 0;
}
#live-tracking-region .vehicles-list-container .vehicle-item {
  position: relative;
  padding: 15px 0;
}
#live-tracking-region .vehicles-list-container .vehicle-item .icon {
  left: 0;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  color: #505050;
}
#live-tracking-region .vehicles-list-container .vehicle-item .info {
  left: 100px;
  right: 0;
  vertical-align: middle;
}
#live-tracking-region .vehicles-list-container .vehicle-item .info .driver-name {
  color: #8e8e8e;
}
#live-tracking-region .selected-vehicle {
  position: absolute;
  display: none;
  right: 15px;
  top: 50px;
  width: 300px;
  padding: 15px;
  z-index: 503;
  background: #ffffff;
  border: 0px solid #dadada;
  box-shadow: 0px 0px 10px #888888 !important;
  overflow: hidden;
  cursor: default;
}
#live-tracking-region .selected-vehicle .close {
  float: right;
  cursor: pointer;
  color: #CCC;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: -15px;
  margin-top: -15px;
}
#live-tracking-region .selected-vehicle .close:hover {
  color: #333;
}
.add-passenger-form label.form-label {
  display: block;
  padding: 0;
  margin-bottom: 5px;
}
.add-passenger-form .form-group {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.add-passenger-form .form-element {
  font-size: 1rem;
}
.add-passenger-form .personal-info,
.add-passenger-form .contact-info {
  width: 50%;
}
.add-passenger-form .submit-button-container {
  width: 300px;
  margin: 0 auto;
  font-size: 1rem;
}
.map-container .pindrop-label {
  background-color: #fcf8e3;
  line-height: 45px;
  text-align: center;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.map-container .location-input {
  position: absolute;
  width: 500px;
  z-index: 1;
  margin-left: 20px;
  margin-top: 20px;
}
.map-container .submit-btn {
  margin-left: 20px;
}
.map-container .close-btn {
  cursor: pointer;
  color: #CCC;
  width: 40px;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  right: 0;
  background-color: #fcf8e3;
}
.map-container .close-btn:hover {
  color: #333;
}
.map-container .stop-list-container {
  background: white;
  position: absolute;
  top: 50px;
  width: 200px;
}
.map-container .stop-list-container .stop-list {
  height: 510px;
  overflow: auto;
}
.map-container .stop-list-container .item {
  cursor: pointer;
  border-bottom: solid 1px #e1e5ed;
  padding: 10px;
}
.map-container .stop-list-container .item:hover,
.map-container .stop-list-container .item.active {
  background-color: #f2f3f7;
}
.map-container .stop-list-container .latLng {
  font-size: 0.8rem;
  color: #8e8e8e;
  font-weight: bold;
}
.map-container .stop-list-container .save-btn {
  margin-top: 30px;
}
.eta-report-page .left-section {
  padding: 10px;
  position: absolute;
  top: 155px;
  bottom: 0;
  border-right: solid 1px #CCC;
  width: 323px;
  overflow: scroll;
}
.eta-report-page .right-section {
  position: absolute;
  left: 323px;
  bottom: 0;
  right: 0;
  top: 155px;
}
.eta-report-page .form-container {
  height: 100px;
  white-space: nowrap;
  padding-left: 10px;
  border-bottom: solid 1px #CCC;
  background: #F1F1F1;
}
.eta-report-page .form-container .field-group {
  padding: 0;
}
.eta-report-page .form-container .help-block {
  display: none;
}
.eta-report-page .form-container .form-group {
  margin-bottom: 0;
  margin-right: 20px;
}
.eta-report-page .form-container label.form-label {
  display: block;
  margin-bottom: 5px;
}
.eta-report-page .stop-list-container .stop-item {
  padding: 10px 0;
  border-bottom: solid 1px #CCC;
}
.data-visualize-page .left-section {
  padding: 10px;
  position: absolute;
  top: 95px;
  bottom: 0;
  border-right: solid 1px #CCC;
  width: 323px;
  overflow: scroll;
}
.data-visualize-page .right-section {
  position: absolute;
  left: 323px;
  bottom: 0;
  right: 0;
  top: 95px;
}
.send-sms-form label.form-label {
  display: block;
  padding: 0;
  margin-bottom: 10px;
}
.send-sms-form .form-element {
  font-size: 1rem;
  width: 100%;
}
.send-sms-form textarea#send-bulk-sms-form-msg {
  height: 200px;
  width: 100%;
  padding-top: 10px;
}
.send-bulk-sms-all {
  width: 150px;
  margin-left: 20px;
}
.filter-form-container .box {
  margin-right: 30px;
  vertical-align: bottom;
}
.filter-form-container .form-label {
  display: block;
  margin-bottom: 5px;
  padding-top: 0;
}
.filter-form-container .form-control {
  width: 200px;
}
.report-summary-container {
  margin: 30px 0;
}
.report-summary-container .item {
  display: inline-block;
  width: 33%;
  padding: 30px 0;
  padding-left: 45px;
}
.report-summary-container .item .icon,
.report-summary-container .item .text {
  display: inline-block;
  vertical-align: top;
}
.report-summary-container .item .icon {
  width: 40px;
}
.report-summary-container .item .icon img {
  height: 44px;
}
.report-summary-container .item .text {
  text-align: left;
  vertical-align: top;
  margin-left: 50px;
  width: 200px;
}
.report-summary-container .item .text .label {
  font-weight: lighter;
  white-space: nowrap;
}
.report-summary-container .item .text .value {
  font-weight: bold;
}
.report-summary-container .row {
  padding: 10px 0;
}
.report-summary-container .row:last-child {
  border: 0;
}
.report-summary-container .item:last-child {
  border: 0;
}
.accesory-icon {
  background: orange;
  color: white;
  font-size: 13px;
  display: inline-block;
  height: 20px;
  padding: 0 5px;
  text-align: center;
  line-height: 18px;
  border-radius: 4px;
}
.accesory-icon.ac:before {
  content: "ac";
}
.accesory-icon.ignition:before {
  content: "ignition";
}
.accesory-icon.unreachable {
  background-color: gray;
}
.accesory-icon.unreachable:before {
  content: "offline";
}
