* {
	box-sizing: border-box;
}

body, html {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #4E4E4E;
	overflow: hidden;
	height: 100%;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.container.screenshot {
	width: 100%;
}

.hide {
	display: none;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.i-b {
	display: inline-block;
}

.clear {
	clear: both;
}

ul,li {
	margin: 0;
	padding: 0;
}

.navigation-item-list {
	list-style: none;
	display: inline-block;;
}

.navigation-item-list li {
	list-style: none;
	display: inline-block;
	line-height: 70px;
	margin-right: 25px;
	color: #304C89;
}

.navigation-item-list a {
	color: #304C89;
}

.bullet-point{
	font-size: 1.1rem;
	margin-bottom: 20px;
	font-weight: lighter;
}

.bullet-point i {
	font-size: 1.4rem;
	vertical-align: middle;
}

.bullet-point .bullet-point-text {
	vertical-align: middle;
	margin-left: 10px;
}

.input-group {
	background: white;
	border-radius: 2px;
	padding: 0px 15px;
	position: relative;
	margin-bottom: 20px;
}

.input-group.error {
}

.input-group input {
	height: 40px;
	border: 0;
	font-size: 16px;
	outline: none;
	width: 333px;
}

.input-group.error input {
}

.input-group .error-msg {
	position: absolute;
	top: 0px;
	right: 365px;
	width: 300px;
	background: #E06767;
	line-height: 42px;
	padding-left: 10px;
	border-radius: 2px;
	height: 42px;
	display: none;
}

.arrow-right {
	border-color: #E06767;
	position: absolute;
	right: -15px;
	top: 6px;
	width: 0;
	height: 0;
	border-left: solid 15px #E06767;
	border-bottom: solid 15px transparent;
	border-top: solid 15px transparent;
}

.lead-form-container {
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
    padding: 25px;
    width: 400px;
    margin: 0 auto;
    transition: 0.2s ease opacity;
	/*transition-duration : 600ms;
	-webkit-transition-duration : 600ms;
	-moz-transition-duration : 600ms;*/
	opacity: 1;
}

.lead-form-container.hidden {
	opacity: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.lead-submit-button {
	margin: 0 auto;
	display: block;
}

.primary-btn {
	padding: 10px;
	border-radius: 2px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.btn-orange {
	background: #F07843;
	border: solid 1px #DF6F3E;
}

.btn-orange[disabled='disabled']{
	background: #F5B193;
	border: solid 1px #F5B193;
}

.logo{
	font-family: Arial;
	font-size: 30px;
	color: #333;
	line-height: 55px;
}

li.phone-number {
	font-weight: bold;
	color: #6D6B6B;
}

.bullet-point-container {
	margin-top: 30px;
}

.row-heading {
	text-align: center;
	margin-bottom: 60px;
	font-size: 1rem;
}

.row-heading .text {
	vertical-align: middle;
    color: #8D8D8D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.row-heading .line {
	display: inline-block;
    height: 2px;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.row-heading .line.blue {
	background: #448AFF;
}

.row-heading .line.red {
	background: #F07843;
}

.row-heading .line.green {
	background: #39C339;
}


.bg-light-gray {
	background-color: #F6F6F6;
}

.bg-dark-green {
	background-color: #00364d;
	color: white;
}

.bg-light-blue {
	background-color: #384B73;
}

.slab {
	padding: 50px 0;
}

.row {
	width: 100%;
	text-align: center;
}

.col-2{
	width: 49%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.feature-box {
	width: 400px;
	height: 250px;
	display: inline-block;
	background: white;
	padding: 30px;
	box-shadow: 1px 2px 11px #888888
}

.feature-stakeholder {
  margin-bottom: 20px;
  color: #415685;
  font-weight: bold;
}

.feature-description {
	text-align: center;
	line-height: 2.2;
    font-size: 1rem;
    font-weight: lighter;
}

img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.screenshot-slider {
	position: relative;
}

.slide-list {
	position: absolute;
		top: 6.5%;
		left: 15.7%;
		width: 68.4%;
		margin: 0 auto;
}

.slide-item {
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	opacity: 0;
	position: absolute;
	height: 448px;
	overflow: hidden;
}

.slide-item.active {
	opacity: 1;
}

.screenshot-slider .next {
	position: absolute;
	top: 40%;
	right: 0;
	font-size: 50px;
	transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
  	color: #C7C7C7;
	cursor: pointer;
}

.screenshot-slider .next:hover,
.screenshot-slider .prev:hover {
	color: #F07843;
}

.screenshot-slider .prev {
	position: absolute;
	top: 40%;
	font-size: 50px;
	color: #C7C7C7;
	transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	cursor: pointer;
}

#faq-grid .col-2 {
	text-align: left;
	vertical-align: top;
}

.question {
	color: #F07843;
	margin-bottom: 20px;
}

.qa-container {
	width: 70%;
		margin: 0 auto;
}

.social-icon {
	margin-left: 20px;
}

.social-icon i {
	font-size: 30px;
}

.lead-submission-success {
	background: white;
	color: black;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 40px;
	border-radius: 2px;
	transition: 0.2s ease opacity;
	/*transition-duration : 600ms;
	-webkit-transition-duration : 600ms;
	-moz-transition-duration : 600ms;*/
	opacity: 1;
}

.lead-submission-success.hidden {
	opacity: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.lead-submission-success .msg {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 16px;
	color: #3E5380;
	text-align: left;
	width: 85%;
}

.lead-submission-success .fa {
	display: inline-block;
	color: #00BB1F;
	font-size: 30px;
	vertical-align: middle;
}

.desktop-description {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0 5%;
}

.desktop-description .row-heading,
.mobile-description .row-heading {
	text-align: left;
	margin-bottom: 0;
}

.desktop-screenshot {
    display: inline-block;
    width: 50%;
}

.desktop-description *{
    color: #EAEAEA !important;
}

.mobile-description {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.mobile-screenshot {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.info-heading {
	color: #415685;
    font-size: 31px;
    line-height: 1.4;
    font-weight: normal;
    margin: 25px 0;

}

.info {
	color: #78858a;
    line-height: 1.65;
    font-size: 1rem;
    font-weight: lighter;
}

.xyz {
	position: relative;
	animation: zoomInOut 60s ease infinite;
    -webkit-animation: zoomInOut 60s ease infinite;
    background-image: url("/static/img/map.jpg");
}

.xyz:before {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#0B1E44,rgba(0,80,115,.85),#0A1935);
}

.xyz .container{
	position: relative;
	color: white;
}

@-webkit-keyframes zoomInOut {
    0% {
        background-size: 100%;
        background-position: 0 0
    }

    50% {
        background-size: 300%;
        background-position: 75% 100%
    }

    100% {
        background-size: 100%;
        background-position: 0 0
    }
}

@-moz-keyframes zoomInOut {
    0% {
        background-size: 100%;
        background-position: 0 0
    }

    50% {
        background-size: 300%;
        background-position: 75% 100%
    }

    100% {
        background-size: 100%;
        background-position: 0 0
    }
}

@-o-keyframes zoomInOut {
    0% {
        background-size: 100%;
        background-position: 0 0
    }

    50% {
        background-size: 300%;
        background-position: 75% 100%
    }

    100% {
        background-size: 100%;
        background-position: 0 0
    }
}

@keyframes zoomInOut {
    0% {
        background-size: 100%;
        background-position: 0 0
    }

    50% {
        background-size: 300%;
        background-position: 75% 100%
    }

    100% {
        background-size: 100%;
        background-position: 0 0
    }
}

.slab.form {
	background-color: #00364d;
	background: linear-gradient(to top left,#0086bf,#005073 40%,#00364d 60%,#002433);
	/*background-image:url('/static/img/bg_2.png');*/
	overflow:hidden;
}


.intro-line {
	font-size: 1.3rem;
	font-weight: lighter;
	line-height: 100px;
}

.header {
	padding: 0 10px;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 150px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 10px;
	text-align: center;
}