<div class="data-visualize-page">
    <div class="end-point">
        <input type="text" style="width: 100%;padding-left: 10px; height: 40px;" placeholder="Enter API end point and press enter button"></input>
    </div>
    <div class="data-container left-section">
    </div>
    <div class="map-container right-section i-b vat">
        <div class="map-element" style="height: 100%;"></div>
    </div>
</div>