<form>
<div class="field-group vam">
	<div class="i-b"><div data-fields="route"></div></div>
	<div class="i-b"><div data-fields="date"></div></div>
	<div class="i-b"><div data-fields="tripType"></div></div>
	<input type="submit" class="btn btn-primary i-b vam" style="margin-top: 10px;" value="Apply"></input>
</div>
</form>