<div class="eta-report-page">
<div class="form-container">
</div>
<div class="left-section">
	<div class="stop-list-container">
	</div>
</div>
<div class="map-container right-section i-b vat">
	<div class="map-element" style="height: 100%;"></div>
</div>
</div>