<table class="list-table">
    <thead>        
        <tr class="head">
            <th><%= _t("taskType") %></th>
            <th><%= _t("msg") %></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>