<div class="sub-heading-list">
</div>
<div class="btn btn-primary create-new-passenger new-cta"> <i class="fa fa-plus"></i>
		<%= _t("addNew") %>
	</div>
<div class="passenger-container table-container">
</div>